body {
	background-position: center;
	background-size: cover;
}
#navv{
	background-color: rgba(0, 0, 0, 0.7)
}

.navbar-toggler{
	background-color: rgba(0, 0, 0, 0.7)
}

.btn-outline-secondary{
	border: 3px solid rgba(18, 125, 214 , 0.8);
	margin-top: 400px;
	margin-left: 700px;
}

.btn-outline-secondary:hover{
	background-color: rgba(18, 125, 214 , 0.8);
	border-color: rgba(18, 125, 214 , 0.8);
	transform: scale(1.4);
	transition:  3s;
}

.main {
	font-family: 'Raleway', sans-serif;
	position: absolute;
	font-size: 35px;
	left: 460px;
	top: 200px;
}

.main:hover{
	transform: scale(1.4);
	transition:  3s;
}

img {
  border-radius: 50%;
  border: 2px solid black;
  width: 150px;
  height: 150px;
  margin-left: 100px;
  margin-bottom: -600px;
}

img:hover {
	transform: scale(1.2);
	transition:  2s;
}

.metext1 {
	font-size: 20px;
    margin-left: 900px;
    margin-top: 150px;
}

.metext2 {
	font-size: 14px;
    margin-left: 920px;
    margin-top: -10px;
}